.development__wrap {
    background-image: url('../images/development.jpg');
}

.main__services__page__development__plan {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main__services__page__development__plan__right {
    flex: 1 1 0;
}

.main__services__page__development__plan__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 0;
}

.main__services__page__development__plan__item__title {
    font-size: 30px;
    margin-bottom: 30px;
}

.main__services__page__development__plan__item {
    padding: 20px;
    background-color: #F4F0EC;
}


@media (max-width:780px) {
    .main__services__page__development__plan {
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .main__services__page__development__plan__item__title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .main__services__page__development__plan__item__content {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width:400px) {
    .main__services__page__development__plan__item {
        padding: 10px;
    }

    .main__services__page__development__plan__item__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .main__services__page__development__plan__item__content {
        font-size: 18px;
        line-height: 26px;
    }
}
