.favourites__form__title {
    padding: 20px 0 20px 0px;
    font-size: 24px;
}

.favourites__form__content {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 28px;
}

.favourites__form {
    width: 70%;
    margin: 0 auto;
}

.ant-form-item-control-input-content .ant-form-item .ant-form-item-label >label {
    font-size: 18px;
    margin-right: 10px;
}

.ant-form-item-control-input-content .ant-input,
.ant-form-item-control-input-content .ant-select-single .ant-select-selector,
.ant-form-item-control-input-content .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
    font-size: 18px;
}

.ant-form-item-control-input-content .ant-btn {
    padding: 10px 20px;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
}

.ant-form-item-control-input-content .ant-btn-primary{
    background-color: rgb(173, 111, 68);
}

.ant-form-item-control-input-content .ant-btn-primary:not(:disabled):hover {
    background-color: rgb(220, 154, 107);
}



@media (max-width:500px) {
    .favourites__form__title {
        font-size: 22px;
    }

    .favourites__form__content{
        font-size: 16px;
    }
}

