.footer__wrapper {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.footer__wrapper a {
    text-decoration: none;
}

.footer__wrapper h2 {
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 15px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer__info__text {
    padding-top: 15px;
    padding-bottom: 25px;
}

.footer__info__text, .footer__contacts div, .footer__location div, .footer__pages__items {
    font-size: 20px;
    line-height: 33px;
}

.footer__info__network:not(:last-child) {
    margin-right: 30px;
}

.footer__pages {
    padding: 0 10px;
}

.footer__pages__items {
    list-style: none;
    line-height: 40px;
}

.footer__pages__item a:hover {
    border-bottom: 2px solid #cda27488;
}

.footer__coordinates {
    padding: 0 25px;
    width: 300px;
}

.footer__location {
    margin-top: 20px;
}



@media (max-width:751px) {
    .footer__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__info {
        width: 500px;
        padding-top: 30px;
        order: 3;
        text-align: right;
    }

    .footer__coordinates {
        text-align: right;
        order: 2;
    }
}

@media (max-width:628px) {
    .footer__wrapper {
        justify-content: left;
        padding: 40px 0;
    }

    .footer__pages__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer__pages__item:not(:last-child) {
        margin-right: 20px;
    }

    .footer__coordinates {
        width: auto;
        margin-top: 20px;
        text-align: left;
        padding: 0;
    }

    .footer__pages {
        padding: 0;
    }

    .footer__info {
        width: auto;
        text-align: left;
    }
}