.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
}

.nav__items {
    display: flex;
    list-style: none;
    align-items: center;
    float: right;
    overflow: hidden;

}

.hamburger{
    display: none;
    z-index: 6;
    cursor: pointer;
} 

.nav__item {
    padding-right: 40px;
    cursor: pointer;
}

.nav__item a:hover{
    border-bottom: 4px solid #cda27488;
}

.nav__item a.active {
    border-bottom: 4px solid var(--light-brown);
}

.nav__item:last-child {
    margin-left: 20px;
}

.nav__item a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    line-height: 25px;
    font-family: 'Jost', sans-serif;
}

.favourite__icon__link {
    transition: 0.5s;
}

.favourite__icon__link:hover {
    transform: scale(1.15);
}

.favourite__icon__link a:hover {
    border-bottom: none;
}



@media (max-width:1055px) {
    .nav__item {
        padding-right: 25px;
    }
}

@media (max-width:800px) {
    .header__wrapper {
        padding: 25px 0
    }
}

@media (max-width: 939px){
                  
    .hamburger{
        display: block;
        right: 25px;
        z-index: 6;
    }

    .nav__items{
        background-color: #dbb58dd3;
        border-radius: 25px;
        height: 100vh;
        width: 35vw;
        margin-top: 50px;
        position: fixed;
        right: 0;
        z-index: 6;
    }

    .nav__item {
        padding: 20px 0px 10px 30px;
    }

    .nav__item:last-child {
        margin-left: 10px;
    }

    .nav__item a:hover{
        border-bottom: 4px solid #cda274b1;
    }

    .favourite__icon__link a:hover {
        border-bottom: none;
    }

    .favourite__icon__link:hover {
        transform: scale(1.06);
    }
    
}

@media (max-width: 425px){
    .nav__item {
        padding: 20px 0px 10px 20px;
    }

    .nav__items{ 
        width: 40vw;
    }
}
