.logo__wrapper {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.logo a {
    text-decoration: none;
}

.logo__title {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    color: var(--black);
    padding-left: 10px;
}