.main__contacts__header__wrapper {
    background-image: url('../images/contacts-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
}

.main__contacts__header {
    background-color: #ffff;
    margin: 0 auto;
    padding: 35px 10px 25px 10px;
    display: flex;
    justify-content: center;
    width: 400px;
    border-radius: 37px 37px 0 0;
}

.main__contacts__header__title {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
}

.main__contacts__wrapper {
    padding: 60px 0 120px 0;
    display: flex;
    justify-content: space-evenly;
}

.main__contacts__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    margin-top: 60px;
}

.main__contacts__content {
    background-color: #F4F0EC;
    padding: 60px 32px;
    margin-right: 40px;
    border-radius: 50px;
    width: 260px;
}

.main__contacts__content__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main__contacts__content__text {
    margin-left: 15px;
    font-size: 20px;
    line-height: 30px;
}

.main__contacts__content__text a {
    text-decoration: none;
}

.main__contacts__offer {
    width: 500px;
}

.main__contacts__offer__content {
    font-size: 22px;
    line-height: 30px;
    padding: 50px 0;
}

.main__contacts__offer__btn {
    background-color: #CDA274;
    padding: 30px 40px;
    border-radius: 18px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
}

.main__contacts__offer__btn:hover {
    background-color: #d8b48d;
}

.main__contacts__iframe {
    width: 100%; 
    height: 400px; 
    border:none; 
    border-radius: 30px;
    text-align: center;
}



@media (max-width:1130px) {
    .main__contacts__offer {
        width: 400px;
    }
}

@media (max-width:915px) {
    .main__contacts__offer {
        width: 350px;
    }

    .main__contacts__wrapper {
        padding: 40px 0 60px 0;
        justify-content: space-between;
    }

    .main__contacts__offer__btn {
        font-size: 20px;
    }

    .main__contacts__content {
        padding: 50px 20px;
    }
}

@media (max-width:850px) {
    .main__contacts__header__wrapper {
        padding-top: 80px;
    }

    .main__contacts__header {
        width: 300px;
        padding: 25px 10px 15px 10px;
    }
}

@media (max-width:820px) {
    .main__contacts__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main__contacts__offer {
        width: 100%;
    }

    .main__contacts__content {
        margin-right: 0;
    }
}

@media (max-width:600px) {
    .main__contacts__title {
        font-size: 26px;
        margin-top: 40px;
        line-height: 34px;
    }

    .main__contacts__offer__content {
        padding: 25px 0;
    }

    .main__contacts__offer__btn {
        padding: 20px 30px;
    }

    .main__contacts__content {
        padding: 30px 15px;
    }
}


@media (max-width:500px) {
    .main__contacts__header__wrapper {
        padding-top: 60px;
    }

    .main__contacts__header {
        width: 250px;
        padding: 15px 7px 5px 7px;
    }

    .main__contacts__header__title {
        font-size: 32px;
        line-height: 38px;
    }

    .main__contacts__iframe {
        height: 250px;
    }
}

@media (max-width:370px) {
    .main__contacts__header {
        width: 200px;
        padding: 15px 7px 5px 7px;
    }
}
