.main__portfolio__list {
    margin: 60px 0 20px 0;
}

.main__portfolio__list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.main__portfolio__list__item {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__portfolio__list__item__image {
    margin-bottom: 10px;
    display: inline-block; 
    overflow: hidden;
}

.main__portfolio__list__item__image img {
    width: 100%;
    height: 310px;
    transition: 1s; 
    display: block;
}

.main__portfolio__list__item__image img:hover {
    transform: scale(1.2)
}

.main__portfolio__list__item__info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main__portfolio__list__item__info button {
    margin-left: 10px;
} 

.main__portfolio__list__item__link {
    font-size: 22px;
    width: 200px;
}

.portfolio__list__spin {
    margin-top: 50px;
}


@media (max-width:425px) {
    .main__portfolio__list__item__image img {
        width: 260px;
        height: auto;
    }

    .main__portfolio__list__item__link {
        font-size: 20px;
        width: 220px;
    }

    .main__portfolio__list__item__info {
        justify-content: center;
    }
}


