.main__contacts__form__title {
    padding: 20px 0 40px 10px;
    font-size: 24px;
}

.main__contacts__form {
    width: 70%;
    margin: 0 auto;
}

.ant-form-item-control-input-content .ant-form-item .ant-form-item-label >label {
    font-size: 18px;
    margin-right: 10px;
}

.ant-form-item-control-input-content .ant-input,
.ant-form-item-control-input-content .ant-select-single .ant-select-selector,
.ant-form-item-control-input-content .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
    font-size: 18px;
}

.ant-form-item-control-input-content .ant-btn {
    padding: 10px 20px;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
}

.ant-form-item-control-input-content .ant-btn-primary{
    background-color: rgb(173, 111, 68);
}

.ant-form-item-control-input-content .ant-btn-primary:not(:disabled):hover {
    background-color: rgb(220, 154, 107);
}

