a {
    text-decoration: none;
}

.main__services__wrapper {
    margin: 70px 0 50px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.main__services__item {
    padding: 20px 240px 20px 20px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    transition: 0.5s;

}

.main__services__item:hover {
    transform: scale(1.15);
}

.flat__item {
    background-image: url(../images/services-item-flat.png);
    background-color: #b3a9a4d6;
    padding: 20px 240px 42px 20px;
}

.house__item {
    background-image: url(../images/services-item-house.png);
    background-color: #caaf92ea;
}

.development__item {
    background-image: url(../images/services-item-development.png);
    background-color: #8d95a1df;
}

.main__services__item__content {
    padding: 10px;
    width: 230px
}

.main__services__item__title {
    font-size: 38px;
    line-height: 40px;
    color: #ffff;
    margin-bottom: 20px;
}

.main__services__item__text {
    font-size: 20px;
    line-height: 22px;
    color: #605d5d;
}




@media (max-width:600px) {
    .main__services__item {
        padding: 7px 184px 28px 20px;
    }

    .main__services__item__text {
        padding: 7px;
    }

    .flat__text {
        background-color: #b3a9a4cd;
    }

    .house__text {
        background-color: #caaf92cd;
    }

    .development__text {
        background-color: #8d95a1cd;
    }
}

@media (max-width:520px) {
    .main__services__item {
        padding: 7px 100px 10px 10px;
    }

    .main__services__item__title {
        font-size: 32px;
        line-height: 38px;
    }

    .main__services__item__text {
        font-size: 18px;
    }
}

@media (max-width:375px) {
    .main__services__item {
        padding: 7px 50px 10px 10px;
    }
    .main__services__item__text {
        color: #373535;
    }

}

