.favourites__list__wrapper {
    margin: 60px 0 50px 0;
}

.favourites__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.favourites__list__item {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.favourites__list__item__image img {
    width: 100%;
    height: 310px;
}

.favourites__list__item__info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.favourites__list__default {
    margin-top: 30px;
    font-size: 26px;
    font-weight: normal;
}
.favourites__list__item__tittle {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.favourites__list__item__link {
    font-size: 22px;
    width: 200px;
    text-decoration: none;
}

.favourites__list__item__link:hover {
    color: rgb(193, 160, 142);
}

.favourites__list__item__style {
    margin-top: 5px;
}

.favourites__list__order__content {
    font-size: 20px;
    margin-bottom: 15px;
}

.favourites__list__order__btn {
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #d8b48d;
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
}

.favourites__list__order__btn:hover {
    background-color: #e0c4a6;
}


@media (max-width:790px) {
    .favourites__list__item {
        width: 250px;
    }

    .favourites__list__item__image img {
        width: 100%;
        height: 250px;
    }
}

@media (max-width:600px) {
    .favourites__list__item {
        width: 250px;
    }

    .favourites__list__item__image img {
        width: 100%;
        height: 250px;
    }

    .favourites__list__item__link {
        font-size: 20px;
    }

    .favourites__list__order__content,
    .favourites__list__order__btn {
        font-size: 18px;
    }
}




