
.button__light {
    width: 300px;
    height: 75px;
    background-color: var(--light-brown);
    border: none;
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__light__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.button__light__arrow {
    margin-left: 15px;
} 

.button__light:hover {
    background-color: #d8b48d;
}

@media (max-width:425px) {
    .button__light {
        width: 230px;
    }

    .button__light__text {
        font-size: 18px;
        line-height: 20px;
    }

    .button__light__arrow {
        margin-left: 8px;
    } 
    
}