:root {
    --light-brown: #CDA274;
    --black: #292F36;
    --grey: #4D5053;
    --beige: #F4F0EC;

}

* {
    padding: 0;
    margin: 0;
}

body, h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: var(--black);
}

div, button, p, a {
    font-family: 'Jost', sans-serif;
    color: var(--grey);
}

p {
    font-size: 22px;
    line-height: 33px;
}

.site {
    display: grid;
    min-height: 100vh;
    grid-template:  "header-block " auto
                    "main-block" 1fr
                    "footer-block" auto / 1fr;
}

.header {
    grid-area: header-block;
}

.main {
    grid-area: main-block;
}

.footer {
    grid-area: footer-block;
}
