.portfolio__page__goBack__btn {
    background-color: #d6cbbd;
    font-size: 22px;
    border-radius: 15px;
    border: none;
    padding: 10px 18px;
    margin-top: 3vw;
    cursor: pointer;
}

.portfolio__page__goBack__btn:hover {
    background-color: #c1b6a9;
}

.portfolio__page__header__info__wrapper {
    position: relative;
    margin: 6vw 0 25vw 0;
}

.portfolio__page__header__info {
    width: 41vw;
    position: relative;
    z-index: 1;
    padding-top: 4vw;
    padding-bottom: 3.5vw;
    background-color: #f3f3f3;
    border-radius: 25px;
}

.portfolio__page__header__info__content {
    margin: 0 2vw;
}

.portfolio__page__header__info__title__wrapper {
    padding-bottom: 4vw;
    display: flex;
    align-items: center;
}

.portfolio__page__header__info__title {
    padding-right: 30px;
}

.portfolio__page__header__info__footage,
.portfolio__page__header__info__rooms,
.portfolio__page__header__info__location,
.portfolio__page__header__info__style,
.portfolio__page__header__info__year {
    padding-bottom: 0.2vw;
    font-size: 20px;
}

.portfolio__page__header__image {
    position: absolute;
    right: 5vw;
    top: 500px;
}

.portfolio__page__header__image img {
    width: 64vw;
}

img {
    max-width: 100%;
    height: auto;
}

.portfolio__page__task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7vw;
    width: 95%;
}

.portfolio__page__task__title {
    text-transform: uppercase;
    font-size: 30px;
    margin-right: 15px;
}

.portfolio__page__task__content {
    font-size: 24px;
    width: 70%;
}

.portfolio__page__photos{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vw;
}

.portfolio__page__photo {
    width: 45%;
    min-width: 400px;
}

.portfolio__page__description {
    padding: 2vw;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.portfolio__page__description__content {
    width: 90%;
    margin: 0 auto;
}

.portfolio__page__spin {
    margin-top: 50px;
}


@media (max-width:770px) {
    .portfolio__page__header__info__title {
        padding-right: 15px;
        font-size: 26px;
    }

    .portfolio__page__header__info__title__wrapper {
        padding-bottom: 2vw;
    }

    .portfolio__page__description__content {
        width: 100%;
    }
}

@media (max-width:600px) {
    .portfolio__page__header__info {
        width: 54vw;
    }

    .portfolio__page__header__image {
        top:450px;
    }

    .portfolio__page__header__info__wrapper {
        margin: 5vw 0 20vw 0;
    }

    .portfolio__page__task {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5vw;
        width: 100%;
    }

    .portfolio__page__task__title {
        font-size: 26px;
        margin-right: 0;
    }

    .portfolio__page__task__content {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .portfolio__page__description__content {
        font-size: 20px;
        line-height: 28px;
    }

    .portfolio__page__goBack__btn {
        font-size: 18px;
    }
}

@media (max-width:450px) {
    .portfolio__page__header__info {
        width: 70vw;
    }

    .portfolio__page__photo {
        min-width: 300px;
    }


}

@media (max-width:375px) {
    .portfolio__page__header__image {
        display: none;
    }

    .portfolio__page__header__info {
        width: 80vw;
    }

    .portfolio__page__header__info__wrapper {
        margin: 5vw 0 10vw 0;
    }

    .portfolio__page__photo {
        min-width: 280px;
    }
}

