.button__black {
    width: 210px;
    height: 75px;
    background-color: var(--black);
    border: none;
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__black__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.button__black__arrow {
    margin-left: 15px;
}

.button__black:hover {
    background-color: rgb(84, 80, 80);
}  