.ant-carousel .slick-slide {
    text-align: center;
    height: 400px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
.ant-carousel .slick-slide h3 {
    color: #fff;
  }
 
.ant-carousel .slick-slide h3  img{
    width: 100%;
    height: 100%;
  }

