.main__favourites__header__wrapper {
    background-image: url('./images/favourites-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
}

.main__favourites__header {
    background-color: #ffff;
    margin: 0 auto;
    padding: 35px 10px 25px 10px;
    display: flex;
    justify-content: center;
    width: 400px;
    border-radius: 37px 37px 0 0;
}

.main__favourites__header__title {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
}




@media (max-width:850px) {
    .main__favourites__header__wrapper {
        padding-top: 80px;
    }

    .main__favourites__header {
        width: 300px;
        padding: 25px 10px 15px 10px;
    }
}

@media (max-width:500px) {
    .main__favourites__header__wrapper {
        padding-top: 60px;
    }

    .main__favourites__header {
        width: 250px;
        padding: 15px 7px 5px 7px;
    }

    .main__favourites__header__title {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (max-width:370px) {
    .main__favourites__header {
        width: 200px;
        padding: 15px 7px 5px 7px;
    }
}