.house__wrap {
    background-image: url('../images/design-house.png');
}

.house__price {
    width: 150px;
}

.house__title {
    margin-right: 40px;
}

@media (max-width:425px) {
    .house__price {
        width: 100px;
        font-size: 14px;
    }

    .house__title {
        margin-right: 8px;
        width: 140px;
    }
}

