.main__aboutus__header__wrapper {
    background-image: url('./images/aboutUs-header.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
}

.main__aboutus__header {
    background-color: #ffff;
    margin: 0 auto;
    padding: 35px 10px 25px 10px;
    display: flex;
    justify-content: center;
    width: 400px;
    border-radius: 37px 37px 0 0;
}

.main__aboutus__header__title {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
}

.main__aboutus__text {
    margin: 50px 20px;
}

.main__aboutus__info__wrapper {
    background-color: #F4F0EC;
    padding: 60px;
    margin-bottom: 60px;
}

.main__aboutus__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__aboutus__info__item {
    width: calc(25% - 23px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.main__aboutus__info__item:not(:last-child) {
    border-right: 1px solid #CDA274;
}

.main__aboutus__info__item__numb {
    font-size: 85px;
    line-height: 106px;
    color: #CDA274;
    font-family: 'DM Serif Display', serif;
}

.main__aboutus__info__item__description {
    color: #4D5053;
    font-size: 22px;
    text-align: center;
}

.main__aboutus__quote__wrapper {
    display: flex;
    align-items: flex-end;

}

.main__aboutus__quote {
    padding: 30px;
    background-color: #dfd5cb;
    width: 85vw;
    border-radius: 25px;
}

.main__aboutus__quote__author {
    text-align: right;
    padding-top: 20px;
}

.main__aboutus__quote__img {
  margin-left: 20px;
}

.main__aboutus__quote__img img {
    width: 100%;
}



@media (max-width:850px) {
    .main__aboutus__header__wrapper {
        padding-top: 80px;
    }

    .main__aboutus__header {
        width: 300px;
        padding: 25px 10px 15px 10px;
    }

    .main__aboutus__text {
        margin: 40px 10px;
    }

    .main__aboutus__quote {
        width: 100vw;
    }
}

@media (max-width:660px) {
    .main__aboutus__info__item {
        width: 150px;
    }

    .main__aboutus__info__item:not(:last-child) {
        border-right: none;
    }

    .main__aboutus__quote__img {
        display: none;
    }

    .main__aboutus__quote {
        width: auto;
    }

    .main__aboutus__info__wrapper {
        padding: 30px;
    }

}

@media (max-width:500px) {
    .main__aboutus__header__wrapper {
        padding-top: 60px;
    }

    .main__aboutus__header {
        width: 250px;
        padding: 15px 7px 5px 7px;
    }

    .main__aboutus__header__title {
        font-size: 32px;
        line-height: 38px;
    }

    .main__aboutus__info__item__numb {
        font-size: 65px;
        line-height: 75px;
    }

    .main__aboutus__info__wrapper {
        padding: 15px;
        margin-bottom: 30px;
    }

    .main__aboutus__quote__content,
    .main__aboutus__text {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width:370px) {
    .main__aboutus__header {
        width: 200px;
        padding: 15px 7px 5px 7px;
    }
}

 