.main__home__start__wrapper {
    background-image: url(./images/home-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main__home__start__info {
    width: 567px;
    padding: 290px 0;
}

.main__home__start__info__title {
    font-size: 75px;
    line-height: 95px;

}

.main__home__start__info__text {
    font-size: 22px;
    line-height: 33px;
    padding: 9px 0 21px 0;
}



.main__home__services {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    flex-wrap: wrap;
}

.main__home__service {
    padding: 10px 30px;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__home__service__text {
    text-align: center;
    line-height: 33px;
}

.main__home__service__title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 31px;
}


.main__home__opinions {
    background-color: #F4F0EC;
    border-radius: 70px;
    padding: 70px 25px;
    margin-bottom: 100px;
}

.main__home__opinions__title {
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    padding-bottom: 38px;
}

.main__home__opinions__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.main__home__opinion {
    width: 280px;
    background-color: #ffff;
    border-radius: 30px;
    padding: 40px 15px 10px 15px;
}

.main__home__opinion__header {
    display: flex;
    align-items: center;
}

.main__home__opinion__header__name {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    line-height: 38px;
    color: #292F36;
    font-weight: bold;
    padding-left: 20px;
    
}

.main__home__opinion__content {
    font-size: 20px;
}

.main__home__offer__wrapper {
    margin: 0 auto;
    width: 90%;
    padding: 80px 20px;
    background-color: var(--black);
    border-radius: 70px;
}

.main__home__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__home__offer__title {
    font-size: 50px;
    color: #ffff;
    line-height: 62px;
    text-align: center;
    padding-bottom: 12px;
}

.main__home__offer__content {
    color: #ffff;
    font-size: 22px;
    line-height: 33px;
    padding-bottom: 32px;
}



@media (max-width:1238px) {
    .main__home__opinions__wrapper {
        justify-content: center;
    }
}

@media (max-width:1025px) {
    .main__home__service {
        padding: 20px 20px;
    }

    .main__home__start__info {
        padding: 200px 0;
    }
}

@media (max-width:800px) {
    .main__home__start__info {
        padding: 125px 0;
    }

    .main__home__start__info__title {
        font-size: 56px;
        line-height: 65px;
    }

    .main__home__opinions {
        padding: 50px 20px;
        margin-bottom: 55px;
    }

    .main__home__opinions__title,
    .main__home__offer__title {
        font-size: 36px;
        line-height: 46px;
    }

    .main__home__services  {
        padding: 50px 0;
    }

}

@media (max-width:700px) {
    .main__home__start__info {
        width: auto;
    }
}

@media (max-width:500px) {
    .main__home__start__info__title {
        font-size: 38px;
        line-height: 48px;
    }

    .main__home__start__info {
        padding: 75px 0;
    }

    .main__home__start__info__text,
    .main__home__service__text,
    .main__home__opinion__content {
        font-size: 20px;
        line-height: 30px;
    }

    .main__home__opinions__title,
    .main__home__offer__title {
        font-size: 28px;
        line-height: 38px;
    }

    .main__home__opinion__header__name {
        font-size: 24px;
        line-height: 34px;
    }

    .main__home__opinion {
        padding: 25px 15px 10px 15px;
        width: auto;
    }

    .main__home__service {
        padding: 20px 0;
        width: 300px;
    }
}
