.main__services__page__btn{
    background-color: #d6cbbd;
    font-size: 22px;
    border-radius: 15px;
    border: none;
    padding: 10px 18px;
    margin-top: 20px;
    cursor: pointer;
}

.main__services__page__btn:hover {
    background-color: #c1b6a9;
}

.flat__wrap {
    background-image: url('../images/design-flat.jpg');
}

.main__services__page__wrapper__title__wr {
    margin-top: 50px;
    padding: 140px 0;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__services__page__wrapper__title {
    font-size: 56px;
    color: #fff;
    font-weight: bold;
    background: rgba(0,0,0,.5);
    padding: 20px 0;
}

.main__services__page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 70px 0;
}

.main__services__page__title {
    font-size: 34px;
    padding: 30px 100px 30px 10px;
}

.main__services__page__text {
    padding: 30px 10px;
}

.main__services__page__plan__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.main__services__page__plan__sub__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.main__services__page__project {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    flex-wrap: wrap;
}

.main__services__page__header {
    display: flex;
    padding-bottom: 20px;
}

.main__services__page__wrapper {
    padding: 30px 17px;
}

.design__wrapp {
    background-color: #F4F0EC;
}


.main__services__page__title__blocks {
    font-size: 28px;
    font-weight: bold;
    margin-right: 72px;
}

.main__services__page__calc {
    font-size: 20px;
}

.main__services__page__terms {
    color: red;
    font-weight: bold;
}

.main__services__page__title {
    color: #4D5053;
}

.main__services__page__blocks ul {
    list-style: none;
    font-size: 24px;
}

.main__services__page__item {
    padding-bottom: 10px;
}



@media (max-width:950px) {
    .main__services__page__wrapper__title__wr {
        padding: 100px;
        margin-top: 25px;
    }

    .main__services__page__wrapper {
        padding: 15px 10px;
    }

    .main__services__page {
        margin: 10px 0 40px 0;
    }

    .main__services__page__item {
        font-size: 20px;
        padding-bottom: 7px;
    }

    .main__services__page__project  {
        margin: 20px 0;
        flex-direction: column;
    }

    .main__services__page {
        flex-direction: column;
    }

    .main__services__page__text {
        padding: 10px 0;
    }

    .main__services__page__title {
        text-align: center;
        padding: 20px 0;
    }
}

@media (max-width:800px) {
    .main__services__page__wrapper__title__wr {
        padding: 50px;
        margin-top: 15px;
    }

    .main__services__page__wrapper__title {
        font-size: 38px;
    }

    .main__services__page__title,
    .main__services__page__plan__title {
        font-size: 28px;
    }
}

@media (max-width:500px) {

    .main__services__page__text,
    .main__services__page__item {
        font-size: 18px;
        line-height: 28px;
    }

    .main__services__page__plan__sub__title,
    .main__services__page__title__blocks {
        font-size: 20px;
    }

    .main__services__page__wrapper__title__wr {
        padding: 25px;
    }

    .main__services__page__btn {
        font-size: 18px;
    }
}

@media (max-width:425px) {
    .main__services__page__wrapper__title__wr {
        padding: 15px;
    }

    .main__services__page__wrapper__title {
        font-size: 28px;
    }

    .main__services__page__title,
    .main__services__page__plan__title {
        font-size: 22px;
    }

    .main__services__page__title__blocks {
        margin-right: 20px;
    }

    .main__services__page__calc {
        font-size: 18px;
    }

}